body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

#app {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
}

.left-side, .right-side {
    flex: 1; /* Adjust this value as needed to control width */
    padding: 10px; /* Adds some space around the content */
}

/* Additional styles for responsiveness, if necessary */
@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }
    .left-side, .right-side {
        flex: none;
        width: 100%;
    }
}